
				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="<?= ($_GET['url'] == 'index.php') ? 'active' : '';  ?>"><a href="index.php#nav">Comment je l'ai trouvé</a></li>
							<li class="<?= ($_GET['url'] == 'Entreprise') ? 'active' : '';  ?>"><a href="Entreprise#nav">L'entreprise</a></li>
							<li class="<?= ($_GET['url'] == 'WebDev') ? 'active' : '';  ?>"><a href="WebDev#nav">Le web-developper</a></li>
							<li class="<?= ($_GET['url'] == 'Interview') ? 'active' : '';  ?>"><a href="Interview#nav">L'interview</a></li>
							<li class="<?= ($_GET['url'] == 'Conclusion') ? 'active' : '';  ?>"><a href="Conclusion#nav">Conclusion</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/gabriele-virga-4a7898145/" class="icon fa-linkedin"><span class="label">Twitter</span></a></li>
							<li><a href="https://github.com/GabrieleVir/projet-12-MVC" class="icon fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>